openapi: 3.1.0
info:
    title: Immoteur Public API
    version: 1.1.0
    description: |-
        Public API for the Immoteur service.

        ## Authentication
        Use a **Personal Access Token** from your Immoteur dashboard and send it in the `Authorization` header:

        ```
        Authorization: Bearer YOUR_TOKEN_HERE
        ```

        ### cURL example
        ```bash
        curl -sS https://api.immoteur.com/public/v1/auth \
          -H "Authorization: Bearer $IMMOTEUR_TOKEN"
        ```

        ## Environments
        - **Production:** `https://api.immoteur.com/public/v1`

        ## Errors & Rate Limiting
        - `400 Bad Request`: malformed request or invalid syntax.
        - `401 Unauthorized`: missing or invalid token.
        - `403 Forbidden`: token valid but not permitted for this resource.
        - `429 Too Many Requests`: back off and retry with exponential delay.
        - `422 Validation Error`: payload is syntactically correct but fails validation.

        ## Pagination
        - Requests specify `page` (1..500). Responses include `page`, `nextPage`, `perPage`, `total`, `totalPages`.

        ## Data Access Limits
        The `meta.dataAccessLimit` block shows **implicit filters** tied to your plan (e.g., whitelisted departments/SIREN/SIRET). Your effective result set equals **your filters ∩ requested filters**.

        ## Using AI/LLMs
        - Always include the `Authorization` header.
        - Prefer explicit filters (departments, INSEE, postcodes) with **existing** French codes/names.
        - Follow the examples below as canonical payload shapes.

        ## Contact & Docs
        - Website: https://immoteur.com
        - Support: Use your customer portal or contact listed on the website.
    contact:
        url: "https://immoteur.com"
        name: Immoteur
        email: support@immoteur.com
tags:
    - name: Info
      description: Token/account info
    - name: Property
      description: Property operations
    - name: Classified
      description: Classified operations
servers:
    - url: https://api.immoteur.com/public/v1
      description: Production server
externalDocs:
    description: Full product documentation
    url: https://docs.immoteur.com
security:
    - BearerAuth: []
paths:
    /auth:
        get:
            summary: Get Auth Info
            description: Returns the authenticated user's email and token information as a simple test endpoint.
            operationId: auth
            tags:
                - Info
            responses:
                "200":
                    description: Authenticated account and token information
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - email
                                    - tokenName
                                    - tokenCreatedAt
                                    - meta
                                properties:
                                    email:
                                        type: string
                                        format: email
                                        description: Email address of the authenticated account
                                        example: buyer@example.com
                                    meta:
                                        type: object
                                        required:
                                            - subscriptionPlan
                                            - dataAccessLimit
                                        properties:
                                            dataAccessLimit:
                                                $ref: "#/components/schemas/DataAccessLimit"
                                            subscriptionPlan:
                                                $ref: "#/components/schemas/SubscriptionPlan"
                                    tokenCreatedAt:
                                        type: string
                                        format: date-time
                                        description: Creation date of the token
                                        example: "2025-09-01T10:15:30Z"
                                    tokenName:
                                        type: string
                                        description: Name of the current auth token
                                        example: prod-ci-key-1
                            example:
                                email: buyer@example.com
                                tokenCreatedAt: "2025-09-01T10:15:30Z"
                                tokenName: prod-ci-key-1
                                meta:
                                    subscriptionPlan: pro200
                                    dataAccessLimit:
                                        departments: ["75", "92"]
                                        sirens: ["123456789"]
                                        sirets: ["12345678900011"]
                "400":
                    $ref: "#/components/responses/BadRequestError"
                "401":
                    $ref: "#/components/responses/UnauthorizedError"
                "403":
                    $ref: "#/components/responses/ForbiddenError"
                "404":
                    $ref: "#/components/responses/NotFoundError"
                "429":
                    $ref: "#/components/responses/RateLimitError"
                default:
                    $ref: "#/components/responses/DefaultError"

    /classifieds/{id}:
        get:
            summary: Retrieve a single classified
            description: Returns the latest snapshot of a classified, including transaction history, media, publisher details, and lifecycle metadata.
            operationId: classifiedsShow
            tags:
                - Classified
            parameters:
                - name: id
                  in: path
                  description: Classified identifier (UUID).
                  required: true
                  schema:
                      type: string
                      format: uuid
                      example: 7f6e3b4d-9c22-46a0-8f20-0d1a2b3c4d5e
            responses:
                "200":
                    description: Classified matching the requested identifier.
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - classified
                                    - meta
                                properties:
                                    classified:
                                        $ref: "#/components/schemas/Classified"
                                    meta:
                                        type: object
                                        required:
                                            - subscriptionPlan
                                            - dataAccessLimit
                                        properties:
                                            dataAccessLimit:
                                                $ref: "#/components/schemas/DataAccessLimit"
                                            subscriptionPlan:
                                                $ref: "#/components/schemas/SubscriptionPlan"
                            example:
                                classified:
                                    id: 7f6e3b4d-9c22-46a0-8f20-0d1a2b3c4d5e
                                    propertyId: 01920347-45c7-7b81-a2e4-d28c43f0d123
                                    status:
                                        current: available
                                    currency: euro
                                    squareUnit: squareMeter
                                    title: Appartement 3 pièces Paris 1er
                                    description: Bel appartement lumineux au cœur de Paris.
                                    source:
                                        domain: seloger.com
                                        url: https://www.seloger.com/annonces/achat/appartement/paris-1er-75/5-pieces/0.htm
                                    publisher:
                                        isProfessional: true
                                        siren: "123456789"
                                        siret: "12345678900011"
                                    contact:
                                        name: Jean Dupont
                                        email: proprietaire@example.org
                                        phone: "+33612345678"
                                    meta:
                                        firstSeenAt: "2025-09-15T08:10:00Z"
                                        lastModifiedAt: "2025-09-15T09:00:00Z"
                                        lastSeenAt: "2025-09-15T09:00:00Z"
                                    location:
                                        city:
                                            inseeCode: "75056"
                                            name: Paris
                                        postcode: "75001"
                                        department: "75"
                                        country: france
                                        latitude: 48.8584
                                        longitude: 2.2945
                                    property:
                                        type: apartment
                                        area: 52
                                        roomCount: 3
                                        bedroomCount: 2
                                        bathroomCount: 1
                                        balconyExists: true
                                        propertyIsProgram: false
                                    transaction:
                                        type: sale
                                        price:
                                            current: 650000
                                            initial: 680000
                                            perSquareUnit: 12500
                                            history:
                                                - id: 0aa4bc4b-7db0-4bf2-9a4a-f2e6f8d4f99a
                                                  value: 680000
                                                  timestamp: "2025-09-10T08:10:00Z"
                                                - id: 4d4744d6-d7f1-4f8b-8c3c-fb8a1e3c0f8a
                                                  value: 650000
                                                  timestamp: "2025-09-15T09:00:00Z"
                                    media:
                                        images:
                                            - id: 75caa436-207a-4f06-b0d1-3c1a3508dbbb
                                              url: https://cdn.seloger.com/photo-1.jpg
                                              position: 1
                                              perceptualHash: "0010101110"
                                              differenceHash: "1010101111"
                                              averageHash: "1110001110"
                                meta:
                                    subscriptionPlan: pro200
                                    dataAccessLimit:
                                        departments: ["75", "92"]
                                        sirens: ["123456789"]
                                        sirets: ["12345678900011"]
                "400":
                    $ref: "#/components/responses/BadRequestError"
                "401":
                    $ref: "#/components/responses/UnauthorizedError"
                "403":
                    $ref: "#/components/responses/ForbiddenError"
                "404":
                    $ref: "#/components/responses/NotFoundError"
                "409":
                    $ref: "#/components/responses/MissConfigurationError"
                "422":
                    $ref: "#/components/responses/ValidationError"
                "429":
                    $ref: "#/components/responses/RateLimitError"
                default:
                    $ref: "#/components/responses/DefaultError"

    /classifieds/lookup:
        get:
            summary: Find a classified by URL
            description: |-
                Resolve the latest snapshot of a classified by providing the original listing URL. Tracking parameters (for example `utm_*`, `fbclid`, `gclid`) and fragment identifiers are ignored so you can safely reuse URLs copied from marketing campaigns.

                Provide the canonical classified URL when possible. When a scheme is missing the lookup defaults to `https`.
            operationId: classifiedsLookup
            tags:
                - Classified
            parameters:
                - name: url
                  in: query
                  required: true
                  description: Classified URL to resolve. Accepts incomplete URLs without a scheme; fragment identifiers and tracking parameters are ignored during lookup.
                  schema:
                      type: string
                      minLength: 3
                      maxLength: 2048
                  example: https://www.seloger.com/annonces/achat/appartement/paris-1er-75/5-pieces/0.htm?utm_source=newsletter&utm_medium=email#cta
            responses:
                "200":
                    description: Classified matching the requested URL.
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - classified
                                    - meta
                                properties:
                                    classified:
                                        $ref: "#/components/schemas/Classified"
                                    meta:
                                        type: object
                                        required:
                                            - subscriptionPlan
                                            - dataAccessLimit
                                        properties:
                                            dataAccessLimit:
                                                $ref: "#/components/schemas/DataAccessLimit"
                                            subscriptionPlan:
                                                $ref: "#/components/schemas/SubscriptionPlan"
                            examples:
                                canonical:
                                    summary: Canonical classified URL
                                    value:
                                        classified:
                                            currency: euro
                                            id: 7f6e3b4d-9c22-46a0-8f20-0d1a2b3c4d5e
                                            propertyId: 1cc6f941-3024-48ad-9ad2-3a56d5d5e9f6
                                            squareUnit: squareMeter
                                            status:
                                                current: available
                                            meta:
                                                firstSeenAt: "2024-05-10T08:00:00Z"
                                                lastModifiedAt: "2024-05-18T09:45:00Z"
                                                lastSeenAt: "2024-05-20T12:30:00Z"
                                            source:
                                                domain: seloger.com
                                                url: https://www.seloger.com/annonces/achat/appartement/paris-1er-75/5-pieces/0.htm
                                            property:
                                                type: apartment
                                            publisher:
                                                isProfessional: true
                                                siren: "123456789"
                                                siret: "12345678900011"
                                            location:
                                                city:
                                                    inseeCode: "75056"
                                                    name: Paris
                                                country: france
                                                department: "75"
                                                postcode: "75001"
                                            transaction:
                                                price:
                                                    current: 650000
                                                    initial: 690000
                                                    history:
                                                        - id: 11111111-2222-4333-8444-555555555555
                                                          timestamp: "2024-05-10T11:15:00Z"
                                                          value: 690000
                                                        - id: 66666666-7777-4888-9999-aaaaaaaaaaaa
                                                          timestamp: "2024-05-18T09:45:00Z"
                                                          value: 650000
                                                type: sale
                                        meta:
                                            subscriptionPlan: growth100
                                            dataAccessLimit:
                                                departments: ["75"]
                                                sirens: ["123456789"]
                                                sirets: ["12345678900011"]
                                noisy:
                                    summary: URL with tracking parameters
                                    value:
                                        classified:
                                            currency: euro
                                            id: 4cabee23-8d4c-4291-99eb-4d336f8c1a25
                                            propertyId: 02f6be13-ecdd-4c96-907d-8f73b5f917f6
                                            squareUnit: squareMeter
                                            status:
                                                current: available
                                            meta:
                                                firstSeenAt: "2024-03-01T08:00:00Z"
                                                lastModifiedAt: "2024-03-05T11:00:00Z"
                                                lastSeenAt: "2024-03-05T12:00:00Z"
                                            source:
                                                domain: pap.fr
                                                url: https://www.pap.fr/annonce/appartement-paris-75-g123456789
                                            property:
                                                type: apartment
                                            publisher:
                                                isProfessional: true
                                                siren: "987654321"
                                                siret: "98765432100011"
                                            location:
                                                city:
                                                    inseeCode: "59009"
                                                    name: Lille
                                                country: france
                                                department: "59"
                                                postcode: "59800"
                                            transaction:
                                                price:
                                                    current: 540000
                                                    initial: 560000
                                                    history:
                                                        - id: bbbbbbbb-cccc-4ddd-8eee-ffffffffffff
                                                          timestamp: "2024-03-01T08:00:00Z"
                                                          value: 560000
                                                        - id: 12345678-1234-4abc-8def-1234567890ab
                                                          timestamp: "2024-03-05T10:00:00Z"
                                                          value: 540000
                                                type: sale
                                        meta:
                                            subscriptionPlan: starter30
                                            dataAccessLimit:
                                                departments: ["75"]
                                                sirens: ["987654321"]
                                                sirets: ["98765432100011"]
                "400":
                    $ref: "#/components/responses/BadRequestError"
                "401":
                    $ref: "#/components/responses/UnauthorizedError"
                "403":
                    $ref: "#/components/responses/ForbiddenError"
                "404":
                    $ref: "#/components/responses/NotFoundError"
                "422":
                    $ref: "#/components/responses/ValidationError"
                "429":
                    $ref: "#/components/responses/RateLimitError"
                default:
                    $ref: "#/components/responses/DefaultError"

    /properties/lookup:
        get:
            summary: Find a property by URL
            description: |-
                Resolve the aggregated property associated with a classified URL. Tracking parameters (for example `utm_*`, `fbclid`, `gclid`) and fragment identifiers are ignored so you can safely reuse URLs copied from marketing campaigns.

                Provide the canonical classified URL when possible. When a scheme is missing the lookup defaults to `https`.
            operationId: propertiesLookup
            tags:
                - Property
            parameters:
                - name: url
                  in: query
                  required: true
                  description: Classified URL pointing to any listing grouped under the targeted property. Accepts incomplete URLs without a scheme; fragment identifiers and tracking parameters are ignored during lookup.
                  schema:
                      type: string
                      minLength: 3
                      maxLength: 2048
                  example: https://www.seloger.com/annonces/achat/appartement/paris-1er-75/5-pieces/0.htm?utm_source=newsletter&utm_medium=email#cta
            responses:
                "200":
                    description: Property matching the requested URL.
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - meta
                                    - property
                                properties:
                                    meta:
                                        type: object
                                        required:
                                            - subscriptionPlan
                                            - dataAccessLimit
                                        properties:
                                            dataAccessLimit:
                                                $ref: "#/components/schemas/DataAccessLimit"
                                            subscriptionPlan:
                                                $ref: "#/components/schemas/SubscriptionPlan"
                                    property:
                                        $ref: "#/components/schemas/Property"
                            examples:
                                canonical:
                                    summary: Canonical classified URL
                                    value:
                                        property:
                                            id: 8c7f53d2-b9a4-4c11-9d7c-8b2cbda1698a
                                            description: Appartement traversant avec balcon filant.
                                            location:
                                                city:
                                                    inseeCode: "75056"
                                                    name: Paris
                                                country: france
                                                department: "75"
                                                postcode: "75001"
                                                latitude: 48.859
                                                longitude: 2.347
                                            status:
                                                current: available
                                            transaction:
                                                price:
                                                    current: 650000
                                                    initial: 690000
                                                    history:
                                                        - id: 11111111-2222-4333-8444-555555555555
                                                          timestamp: "2024-05-10T11:15:00Z"
                                                          value: 690000
                                                        - id: 66666666-7777-4888-9999-aaaaaaaaaaaa
                                                          timestamp: "2024-05-18T09:45:00Z"
                                                          value: 650000
                                                type: sale
                                            classifieds:
                                                - id: 3bf6c821-a572-4ef7-9c54-070f949a961d
                                                  source:
                                                      domain: seloger.com
                                                      url: https://www.seloger.com/annonces/achat/appartement/paris-1er-75/5-pieces/0.htm
                                                  status:
                                                      current: available
                                                  transaction:
                                                      current: 650000
                                                      initial: 690000
                                                      history:
                                                          - id: 11111111-2222-4333-8444-555555555555
                                                            timestamp: "2024-05-10T11:15:00Z"
                                                            value: 690000
                                                          - id: 66666666-7777-4888-9999-aaaaaaaaaaaa
                                                            timestamp: "2024-05-18T09:45:00Z"
                                                            value: 650000
                                                  publisher:
                                                      isProfessional: true
                                                      siren: "123456789"
                                                      siret: "12345678900011"
                                            meta:
                                                firstSeenAt: "2024-05-01T08:00:00Z"
                                                lastSeenAt: "2024-05-20T09:00:00Z"
                                            property:
                                                type: apartment
                                        meta:
                                            subscriptionPlan: growth100
                                            dataAccessLimit:
                                                departments: ["75"]
                                                sirens: ["123456789"]
                                                sirets: ["12345678900011"]
                "400":
                    $ref: "#/components/responses/BadRequestError"
                "401":
                    $ref: "#/components/responses/UnauthorizedError"
                "403":
                    $ref: "#/components/responses/ForbiddenError"
                "404":
                    $ref: "#/components/responses/NotFoundError"
                "422":
                    $ref: "#/components/responses/ValidationError"
                "429":
                    $ref: "#/components/responses/RateLimitError"
                default:
                    $ref: "#/components/responses/DefaultError"

    /classifieds/{id}/property:
        get:
            summary: Retrieve the property associated with a classified
            description: Returns the aggregated property that contains the given classified, including classifieds, transaction history, media, and lifecycle metadata.
            operationId: classifiedsPropertyShow
            tags:
                - Classified
            parameters:
                - name: id
                  in: path
                  description: Classified identifier (UUID).
                  required: true
                  schema:
                      type: string
                      format: uuid
                      example: 7f6e3b4d-9c22-46a0-8f20-0d1a2b3c4d5e
            responses:
                "200":
                    description: Property containing the requested classified.
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - property
                                    - meta
                                properties:
                                    meta:
                                        type: object
                                        required:
                                            - subscriptionPlan
                                            - dataAccessLimit
                                        properties:
                                            dataAccessLimit:
                                                $ref: "#/components/schemas/DataAccessLimit"
                                            subscriptionPlan:
                                                $ref: "#/components/schemas/SubscriptionPlan"
                                    property:
                                        $ref: "#/components/schemas/Property"
                            example:
                                property:
                                    id: 3a8f1d72-3d0b-4ee6-9a83-a7a9a73ae6c2
                                    status:
                                        current: available
                                    description: Appartement lumineux de 3 pièces avec balcon.
                                    location:
                                        city:
                                            name: Paris
                                            inseeCode: "75056"
                                        country: france
                                        department: "75"
                                        postcode: "75001"
                                        latitude: 48.8606
                                        longitude: 2.3376
                                    meta:
                                        firstSeenAt: "2025-06-20T10:23:00Z"
                                        lastSeenAt: "2025-06-25T07:45:00Z"
                                    property:
                                        type: apartment
                                        area: 52.5
                                        bedroomCount: 2
                                        roomCount: 3
                                        balconyExists: true
                                        terraceExists: true
                                        parkingExists: true
                                    media:
                                        images:
                                            - id: 04d9e7d1-5f3a-4de9-b81c-f3b49b1a1111
                                              position: 1
                                              url: https://images.immoteur.com/sample/apt-paris-1.jpg
                                    energy:
                                        dpe:
                                            label: d
                                        ges:
                                            label: e
                                    transaction:
                                        type: sale
                                        price:
                                            initial: 680000
                                            current: 650000
                                            perSquareUnit: 12500
                                            history:
                                                - id: 0aa4bc4b-7db0-4bf2-9a4a-f2e6f8d4f99a
                                                  value: 680000
                                                  timestamp: "2025-06-20T10:23:00Z"
                                                - id: 4d4744d6-d7f1-4f8b-8c3c-fb8a1e3c0f8a
                                                  value: 650000
                                                  timestamp: "2025-06-25T07:45:00Z"
                                    classifieds:
                                        - id: 7f6e3b4d-9c22-46a0-8f20-0d1a2b3c4d5e
                                          status:
                                              current: available
                                          description: Appartement lumineux avec terrasse et vue dégagée.
                                          source:
                                              domain: seloger.com
                                              url: https://www.seloger.com/annonces/achat/appartement/paris-1er-75/5-pieces/0.htm
                                          publisher:
                                              isProfessional: true
                                              type: agency
                                              email: contact@agence-paris.fr
                                              phone: "+33123456789"
                                              feesUrl: https://www.agence-paris.fr/honoraires
                                              siren: "123456789"
                                              siret: "12345678900011"
                                          transaction:
                                              current: 650000
                                              initial: 680000
                                              perSquareUnit: 12500
                                              history:
                                                  - id: 0aa4bc4b-7db0-4bf2-9a4a-f2e6f8d4f99a
                                                    value: 680000
                                                    timestamp: "2025-06-20T10:23:00Z"
                                                  - id: 4d4744d6-d7f1-4f8b-8c3c-fb8a1e3c0f8a
                                                    value: 650000
                                                    timestamp: "2025-06-25T07:45:00Z"
                                meta:
                                    subscriptionPlan: growth100
                                    dataAccessLimit:
                                        departments: ["75"]
                                        sirens: ["123456789"]
                                        sirets: ["12345678900011"]
                "400":
                    $ref: "#/components/responses/BadRequestError"
                "401":
                    $ref: "#/components/responses/UnauthorizedError"
                "403":
                    $ref: "#/components/responses/ForbiddenError"
                "404":
                    $ref: "#/components/responses/NotFoundError"
                "409":
                    $ref: "#/components/responses/MissConfigurationError"
                "422":
                    $ref: "#/components/responses/ValidationError"
                "429":
                    $ref: "#/components/responses/RateLimitError"
                default:
                    $ref: "#/components/responses/DefaultError"

    /properties/{id}:
        get:
            summary: Retrieve a single property
            description: Returns the latest aggregated snapshot of a property, including classifieds, transaction history, media, and lifecycle metadata.
            operationId: propertiesShow
            tags:
                - Property
            parameters:
                - name: id
                  in: path
                  description: Property identifier (UUID).
                  required: true
                  schema:
                      type: string
                      format: uuid
                      example: 3a8f1d72-3d0b-4ee6-9a83-a7a9a73ae6c2
            responses:
                "200":
                    description: Property matching the requested identifier.
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - property
                                    - meta
                                properties:
                                    meta:
                                        type: object
                                        required:
                                            - subscriptionPlan
                                            - dataAccessLimit
                                        properties:
                                            dataAccessLimit:
                                                $ref: "#/components/schemas/DataAccessLimit"
                                            subscriptionPlan:
                                                $ref: "#/components/schemas/SubscriptionPlan"
                                    property:
                                        $ref: "#/components/schemas/Property"
                            example:
                                property:
                                    id: 3a8f1d72-3d0b-4ee6-9a83-a7a9a73ae6c2
                                    status:
                                        current: available
                                    description: Appartement lumineux de 3 pièces avec balcon.
                                    location:
                                        city:
                                            name: Paris
                                            inseeCode: "75056"
                                        country: france
                                        department: "75"
                                        postcode: "75001"
                                        latitude: 48.8606
                                        longitude: 2.3376
                                    meta:
                                        firstSeenAt: "2025-06-20T10:23:00Z"
                                        lastSeenAt: "2025-06-25T07:45:00Z"
                                    property:
                                        type: apartment
                                        area: 52.5
                                        bedroomCount: 2
                                        roomCount: 3
                                        balconyExists: true
                                        terraceExists: true
                                        parkingExists: true
                                    media:
                                        images:
                                            - id: f19c2f5a-1f5c-42b4-acb3-9f2faaa11111
                                              position: 1
                                              url: https://images.immoteur.com/sample/apt-paris-1.jpg
                                    energy:
                                        dpe:
                                            label: d
                                        ges:
                                            label: e
                                    transaction:
                                        type: sale
                                        price:
                                            initial: 680000
                                            current: 650000
                                            perSquareUnit: 12500
                                            history:
                                                - id: 0aa4bc4b-7db0-4bf2-9a4a-f2e6f8d4f99a
                                                  value: 680000
                                                  timestamp: "2025-06-20T10:23:00Z"
                                                - id: 4d4744d6-d7f1-4f8b-8c3c-fb8a1e3c0f8a
                                                  value: 650000
                                                  timestamp: "2025-06-25T07:45:00Z"
                                    classifieds:
                                        - id: f0a1d2c3-b4e5-6789-aaaa-bbbbbbbbbbbb
                                          status:
                                              current: available
                                          description: Appartement lumineux avec terrasse et vue dégagée.
                                          source:
                                              domain: seloger.com
                                              url: https://www.seloger.com/annonces/achat/appartement/paris-1er-75/5-pieces/0.htm
                                          publisher:
                                              isProfessional: true
                                              type: agency
                                              email: contact@agence-paris.fr
                                              phone: "+33123456789"
                                              feesUrl: https://www.agence-paris.fr/honoraires
                                              siren: "123456789"
                                          transaction:
                                              current: 650000
                                              initial: 680000
                                              perSquareUnit: 12500
                                              history:
                                                  - id: 0aa4bc4b-7db0-4bf2-9a4a-f2e6f8d4f99a
                                                    value: 680000
                                                    timestamp: "2025-06-20T10:23:00Z"
                                                  - id: 4d4744d6-d7f1-4f8b-8c3c-fb8a1e3c0f8a
                                                    value: 650000
                                                    timestamp: "2025-06-25T07:45:00Z"
                                meta:
                                    subscriptionPlan: growth100
                                    dataAccessLimit:
                                        departments: ["75"]
                                        sirens: ["123456789"]
                                        sirets: ["12345678900011"]
                "400":
                    $ref: "#/components/responses/BadRequestError"
                "401":
                    $ref: "#/components/responses/UnauthorizedError"
                "403":
                    $ref: "#/components/responses/ForbiddenError"
                "404":
                    $ref: "#/components/responses/NotFoundError"
                "409":
                    $ref: "#/components/responses/MissConfigurationError"
                "422":
                    $ref: "#/components/responses/ValidationError"
                "429":
                    $ref: "#/components/responses/RateLimitError"
                default:
                    $ref: "#/components/responses/DefaultError"

    /properties/{id}/classifieds:
        get:
            summary: List classifieds associated with a property
            description: Returns every classified currently attached to the given property with the same level of detail as `/classifieds/{id}` (publisher, media, transaction history, energy data, etc.).
            operationId: propertiesClassifiedsIndex
            tags:
                - Property
            parameters:
                - name: id
                  in: path
                  description: Property identifier (UUID).
                  required: true
                  schema:
                      type: string
                      format: uuid
                      example: 3a8f1d72-3d0b-4ee6-9a83-a7a9a73ae6c2
            responses:
                "200":
                    description: Classifieds linked to the requested property.
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - classifieds
                                    - meta
                                properties:
                                    classifieds:
                                        type: array
                                        description: Detailed classifieds linked to the property.
                                        items:
                                            $ref: "#/components/schemas/Classified"
                                    meta:
                                        type: object
                                        required:
                                            - subscriptionPlan
                                            - dataAccessLimit
                                        properties:
                                            dataAccessLimit:
                                                $ref: "#/components/schemas/DataAccessLimit"
                                            subscriptionPlan:
                                                $ref: "#/components/schemas/SubscriptionPlan"
                            example:
                                classifieds:
                                    - id: 7f6e3b4d-9c22-46a0-8f20-0d1a2b3c4d5e
                                      propertyId: 01920347-45c7-7b81-a2e4-d28c43f0d123
                                      status:
                                          current: available
                                      currency: euro
                                      squareUnit: squareMeter
                                      title: Appartement lumineux proche du Louvre
                                      description: Appartement lumineux avec terrasse et vue dégagée.
                                      source:
                                          domain: seloger.com
                                          url: https://www.seloger.com/annonces/achat/appartement/paris-1er-75/5-pieces/0.htm
                                      publisher:
                                          isProfessional: true
                                          siren: "123456789"
                                          siret: "12345678900011"
                                      contact:
                                          name: Jean Dupont
                                          email: proprietaire@example.org
                                      location:
                                          city:
                                              name: Paris
                                              inseeCode: "75056"
                                          postcode: "75001"
                                          department: "75"
                                          country: france
                                      property:
                                          type: apartment
                                          area: 52
                                          bedroomCount: 2
                                          roomCount: 3
                                          balconyExists: true
                                      transaction:
                                          type: sale
                                          price:
                                              current: 650000
                                              initial: 680000
                                              perSquareUnit: 12500
                                              history:
                                                  - id: 0aa4bc4b-7db0-4bf2-9a4a-f2e6f8d4f99a
                                                    value: 680000
                                                    timestamp: "2025-06-20T10:23:00Z"
                                                  - id: 4d4744d6-d7f1-4f8b-8c3c-fb8a1e3c0f8a
                                                    value: 650000
                                                    timestamp: "2025-06-25T07:45:00Z"
                                      media:
                                          images:
                                              - id: 75caa436-207a-4f06-b0d1-3c1a3508dbbb
                                                position: 1
                                                url: https://cdn.seloger.com/photo-1.jpg
                                      meta:
                                          firstSeenAt: "2025-06-20T10:23:00Z"
                                          lastModifiedAt: "2025-06-22T12:00:00Z"
                                          lastSeenAt: "2025-06-25T07:45:00Z"
                                meta:
                                    subscriptionPlan: growth100
                                    dataAccessLimit:
                                        departments: ["75"]
                                        sirens: ["123456789"]
                                        sirets: ["12345678900011"]
                "400":
                    $ref: "#/components/responses/BadRequestError"
                "401":
                    $ref: "#/components/responses/UnauthorizedError"
                "403":
                    $ref: "#/components/responses/ForbiddenError"
                "404":
                    $ref: "#/components/responses/NotFoundError"
                "409":
                    $ref: "#/components/responses/MissConfigurationError"
                "422":
                    $ref: "#/components/responses/ValidationError"
                "429":
                    $ref: "#/components/responses/RateLimitError"
                default:
                    $ref: "#/components/responses/DefaultError"

    /properties/search:
        post:
            summary: Search properties with filters
            description: Returns a paginated list of properties based on searchable fields
            operationId: propertySearch
            tags:
                - Property
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - page
                                - transactionType
                                - propertyTypes
                            properties:
                                energyDpeLabels:
                                    type: array
                                    description: Filter results to properties whose DPE label matches one of the provided letters.
                                    items:
                                        $ref: "#/components/schemas/EnergyDpeLabel"
                                    example: ["a", "b"]
                                energyGesLabels:
                                    type: array
                                    description: Filter results to properties whose greenhouse-gas (GES) label matches one of the provided letters.
                                    items:
                                        $ref: "#/components/schemas/EnergyGesLabel"
                                    example: ["a", "b"]
                                locationDepartments:
                                    type: array
                                    items:
                                        type: string
                                    description: List of French department codes (e.g., "75" for Paris).
                                    example: ["75", "92"]
                                locationGeoBbox:
                                    $ref: "#/components/schemas/LocationGeoBbox"
                                locationGeoCircle:
                                    $ref: "#/components/schemas/LocationGeoCircle"
                                locationInseeCodes:
                                    type: array
                                    items:
                                        type: string
                                    description: List of INSEE city codes.
                                    example: ["75056", "92050"]
                                locationPostcodes:
                                    type: array
                                    items:
                                        type: string
                                    description: List of French postcodes.
                                    example: ["75001", "92000"]
                                orderBy:
                                    $ref: "#/components/schemas/PropertySearchOrder"
                                page:
                                    type: integer
                                    minimum: 1
                                    maximum: 500
                                    default: 1
                                    description: 1-based page index.
                                    example: 1
                                propertyAreaMax:
                                    type: integer
                                    description: Maximum property area (m²).
                                    example: 100
                                propertyAreaMin:
                                    type: integer
                                    description: Minimum property area (m²).
                                    example: 40
                                propertyBalconyExists:
                                    type: boolean
                                    description: Filter results to properties that have a balcony.
                                    example: true
                                propertyBedroomCountMin:
                                    type: integer
                                    minimum: 0
                                    description: Minimum number of bedrooms.
                                    example: 2
                                propertyCellarExists:
                                    type: boolean
                                    description: Filter results to properties that have a cellar.
                                    example: false
                                propertyElevatorExists:
                                    type: boolean
                                    description: Filter results to properties that have an elevator.
                                    example: true
                                propertyGarageExists:
                                    type: boolean
                                    description: Filter results to properties that have a garage.
                                    example: false
                                propertyGardenExists:
                                    type: boolean
                                    description: Filter results to properties that have a garden.
                                    example: false
                                propertyIsProgram:
                                    type: boolean
                                    description: Limit to new-build/off-plan programs.
                                    example: false
                                propertyParkingExists:
                                    type: boolean
                                    description: Filter results to properties that have parking.
                                    example: true
                                propertyRoomCountMin:
                                    type: integer
                                    minimum: 0
                                    description: Minimum total room count.
                                    example: 3
                                propertySwimmingPoolExists:
                                    type: boolean
                                    description: Filter results to properties that have a swimming pool.
                                    example: false
                                propertyTerraceExists:
                                    type: boolean
                                    description: Filter results to properties that have a terrace.
                                    example: true
                                propertyTypes:
                                    type: array
                                    items:
                                        $ref: "#/components/schemas/PropertyType"
                                    description: One or more property types to include.
                                    example: ["apartment", "house"]
                                searchQuery:
                                    type: string
                                    maxLength: 400
                                    description: Optional full-text query. When omitted, an empty query is used.
                                    example: "terrasse ascenseur"
                                searchThreshold:
                                    type: number
                                    format: float
                                    minimum: 0
                                    maximum: 1
                                    default: 0.2
                                    description: Minimum relevance score required for a hit to be kept.
                                    example: 0.2
                                sortBy:
                                    $ref: "#/components/schemas/PropertySearchSortBy"
                                sourceDomains:
                                    type: array
                                    items:
                                        type: string
                                    description: Limit results to classifieds originating from the provided domains.
                                    example: ["bienici.com", "orpi.com"]
                                sourceDomainsCountMax:
                                    type: integer
                                    description: Maximum number of distinct source domains attached to each property.
                                    example: 3
                                sourceDomainsCountMin:
                                    type: integer
                                    description: Minimum number of distinct source domains attached to each property.
                                    example: 1
                                transactionPriceHasChanged:
                                    type: boolean
                                    description: Only properties whose price has changed recently.
                                    example: false
                                transactionPriceMax:
                                    type: integer
                                    description: Maximum current price.
                                    example: 1000000
                                transactionPriceMin:
                                    type: integer
                                    description: Minimum current price.
                                    example: 200000
                                transactionType:
                                    $ref: "#/components/schemas/TransactionType"
                        example:
                            page: 1
                            transactionType: sale
                            propertyTypes: ["apartment", "house"]
                            searchQuery: "terrasse ascenseur"
                            searchThreshold: 0.2
                            locationDepartments: ["75", "92"]
                            locationInseeCodes: ["75056", "92050"]
                            locationPostcodes: ["75001", "92000"]
                            locationGeoBbox:
                                sw:
                                    lat: 48.8156
                                    lng: 2.2241
                                ne:
                                    lat: 48.9021
                                    lng: 2.4699
                            locationGeoCircle:
                                center:
                                    lat: 48.8566
                                    lng: 2.3522
                                radiusMeters: 5000
                            transactionPriceMin: 200000
                            transactionPriceMax: 1000000
                            propertyBedroomCountMin: 2
                            propertyAreaMin: 40
                            propertyElevatorExists: true
                            propertyTerraceExists: true
                            propertyParkingExists: true
                            sourceDomains: ["bienici.com", "orpi.com"]
                            sourceDomainsCountMin: 1
                            sourceDomainsCountMax: 3
            responses:
                "200":
                    description: List of properties matching the filters
                    content:
                        application/json:
                            schema:
                                type: object
                                required:
                                    - items
                                    - meta
                                properties:
                                    items:
                                        type: array
                                        items:
                                            type: object
                                            required:
                                                - classifieds
                                                - id
                                                - property
                                                - location
                                                - media
                                                - transaction
                                                - meta
                                                - status
                                            properties:
                                                classifieds:
                                                    description: Classifieds currently associated with the property.
                                                    type: array
                                                    items:
                                                        $ref: "#/components/schemas/PropertyClassified"
                                                description:
                                                    description: Description of the property.
                                                    type: string
                                                    nullable: true
                                                energy:
                                                    description: Energy information for the classified.
                                                    $ref: "#/components/schemas/Energy"
                                                id:
                                                    type: string
                                                    format: uuid
                                                    example: 3a8f1d72-3d0b-4ee6-9a83-a7a9a73ae6c2
                                                location:
                                                    description: Location information.
                                                    $ref: "#/components/schemas/Location"
                                                media:
                                                    $ref: "#/components/schemas/Media"
                                                meta:
                                                    $ref: "#/components/schemas/PropertyMeta"
                                                property:
                                                    $ref: "#/components/schemas/PropertyAttributes"
                                                status:
                                                    description: Current lifecycle status of the property.
                                                    $ref: "#/components/schemas/ClassifiedStatus"
                                                transaction:
                                                    $ref: "#/components/schemas/Transaction"
                                    meta:
                                        type: object
                                        required:
                                            - subscriptionPlan
                                            - dataAccessLimit
                                            - page
                                            - nextPage
                                            - perPage
                                            - total
                                            - totalPages
                                        properties:
                                            dataAccessLimit:
                                                $ref: "#/components/schemas/DataAccessLimit"
                                            nextPage:
                                                type: integer
                                                nullable: true
                                                example: 2
                                            page:
                                                type: integer
                                                example: 1
                                            perPage:
                                                type: integer
                                                example: 20
                                            subscriptionPlan:
                                                $ref: "#/components/schemas/SubscriptionPlan"
                                            total:
                                                type: integer
                                                example: 240
                                            totalPages:
                                                type: integer
                                                example: 12
                            example:
                                items:
                                    - id: 3a8f1d72-3d0b-4ee6-9a83-a7a9a73ae6c2
                                      status:
                                          current: available
                                      description: Appartement lumineux de 3 pièces avec balcon.
                                      location:
                                          city:
                                              name: Paris
                                              inseeCode: "75056"
                                          country: france
                                          department: "75"
                                          postcode: "75001"
                                          latitude: 48.8606
                                          longitude: 2.3376
                                      media:
                                          images:
                                              - id: 2f6bb0f5-1e2f-4dc9-8f46-8fd0c1f7cafe
                                                position: 1
                                                url: https://images.immoteur.com/sample/apt-paris-1.jpg
                                      property:
                                          type: apartment
                                          area: 52.5
                                          bedroomCount: 2
                                          roomCount: 3
                                          balconyExists: true
                                      classifieds:
                                          - id: 75caa436-207a-4f06-b0d1-3c1a3508dbbb
                                            status:
                                                current: available
                                            source:
                                                domain: seloger.com
                                                url: https://www.seloger.com/annonces/achat/appartement/paris-1er-75/5-pieces/0.htm
                                            publisher:
                                                isProfessional: true
                                                type: agency
                                                email: contact@agence-paris.fr
                                                phone: "+33123456789"
                                                feesUrl: https://www.agence-paris.fr/honoraires
                                                siren: "123456789"
                                            transaction:
                                                current: 650000
                                                history:
                                                    - id: 0aa4bc4b-7db0-4bf2-9a4a-f2e6f8d4f99a
                                                      value: 680000
                                                      timestamp: "2025-06-20T10:23:00Z"
                                                    - id: 4d4744d6-d7f1-4f8b-8c3c-fb8a1e3c0f8a
                                                      value: 650000
                                                      timestamp: "2025-06-25T07:45:00Z"
                                                initial: 680000
                                                perSquareUnit: 12500
                                      transaction:
                                          type: sale
                                          price:
                                              current: 650000
                                              history:
                                                  - id: 0aa4bc4b-7db0-4bf2-9a4a-f2e6f8d4f99a
                                                    value: 680000
                                                    timestamp: "2025-06-20T10:23:00Z"
                                                  - id: 4d4744d6-d7f1-4f8b-8c3c-fb8a1e3c0f8a
                                                    value: 650000
                                                    timestamp: "2025-06-25T07:45:00Z"
                                              initial: 680000
                                              perSquareUnit: 12500
                                      meta:
                                          firstSeenAt: "2025-05-10T08:00:00Z"
                                          lastSeenAt: "2025-06-20T11:00:00Z"
                                      energy:
                                          dpe:
                                              date: "2023-05-10"
                                              label: d
                                              value: 180
                                          ges:
                                              date: "2023-05-10"
                                              label: e
                                              value: 45
                                          heating:
                                              source: gas
                                              system: radiator
                                              type: individual
                                meta:
                                    subscriptionPlan: pro200
                                    dataAccessLimit:
                                        departments: ["75", "92"]
                                        sirens: ["123456789"]
                                        sirets: ["12345678900011"]
                                    page: 1
                                    nextPage: 2
                                    perPage: 20
                                    total: 240
                                    totalPages: 12
                "400":
                    $ref: "#/components/responses/BadRequestError"
                "401":
                    $ref: "#/components/responses/UnauthorizedError"
                "403":
                    $ref: "#/components/responses/ForbiddenError"
                "404":
                    $ref: "#/components/responses/NotFoundError"
                "409":
                    $ref: "#/components/responses/MissConfigurationError"
                "422":
                    $ref: "#/components/responses/ValidationError"
                "429":
                    $ref: "#/components/responses/RateLimitError"
                default:
                    $ref: "#/components/responses/DefaultError"

webhooks:
    classified-notification:
        post:
            tags:
                - Classified
            parameters:
                - name: User-Agent
                  in: header
                  required: true
                  description: Identifies the request as an Immoteur webhook call.
                  schema:
                      type: string
                  example: ImmoteurWebhook/1
                - name: X-Immoteur-Service-Id
                  in: header
                  required: true
                  description: UUID of the Immoteur service emitting this webhook.
                  schema:
                      type: string
                      format: uuid
                  example: 2f9b734d-9c22-46a0-8f20-0d1a2b3c4d5e
                - name: X-Immoteur-Event-Id
                  in: header
                  required: true
                  description: Correlation ID for the webhook payload.
                  schema:
                      type: string
                      format: uuid
                  example: 11111111-2222-3333-4444-555555555555
                - name: X-Immoteur-Delivery-Id
                  in: header
                  required: true
                  description: Unique identifier for this HTTP delivery attempt.
                  schema:
                      type: string
                      format: uuid
                  example: 8f8f0c4e-1bca-48d5-98bb-8ab2c0c0ab12
                - name: X-Immoteur-Timestamp
                  in: header
                  required: true
                  description: Unix timestamp (seconds) for the delivery attempt.
                  schema:
                      type: string
                      pattern: "^[0-9]+$"
                  example: "1734278400"
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/Classified"
                        example:
                            id: 7f6e3b4d-9c22-46a0-8f20-0d1a2b3c4d5e
                            propertyId: 01920347-45c7-7b81-a2e4-d28c43f0d123
                            type: created
                            currency: euro
                            squareUnit: squareMeter
                            status:
                                current: available
                            meta:
                                firstSeenAt: "2025-09-15T08:10:00Z"
                                lastModifiedAt: "2025-09-15T09:00:00Z"
                                lastSeenAt: "2025-09-15T09:00:00Z"
                                removedAt: null
                            source:
                                domain: seloger.com
                                url: https://www.seloger.com/annonces/achat/appartement/paris-1er-75/5-pieces/0.htm
                            publisher:
                                isProfessional: true
                                type: agency
                                email: contact@agence-paris.fr
                                phone: "+33123456789"
                                feesUrl: https://www.agence-paris.fr/honoraires
                                siren: "123456789"
                                siret: "12345678900011"
                            location:
                                city:
                                    name: Paris
                                    inseeCode: "75056"
                                country: france
                                department: "75"
                                postcode: "75001"
                                latitude: 48.8606
                                longitude: 2.3376
                            media:
                                images:
                                    - id: 8f8f0c4e-1bca-48d5-98bb-8ab2c0c0ab12
                                      position: 1
                                      url: https://images.immoteur.com/sample/apt-paris-1.jpg
                            property:
                                type: apartment
                                area: 50
                                roomCount: 3
                                bedroomCount: 2
                                elevatorExists: true
                                terraceExists: true
                            transaction:
                                type: sale
                                price:
                                    current: 650000
                                    history:
                                        - id: 4d4744d6-d7f1-4f8b-8c3c-fb8a1e3c0f8a
                                          value: 650000
                                          timestamp: "2025-09-15T09:00:00Z"
                                    initial: 650000
                                    perSquareUnit: 13000
                            energy:
                                dpe:
                                    date: "2023-05-10"
                                    label: d
                                    value: 180
                                ges:
                                    date: "2023-05-10"
                                    label: e
                                    value: 45
                                heating:
                                    source: gas
                                    system: radiator
                                    type: individual
            responses:
                "200":
                    description: Webhook received successfully
                "400":
                    $ref: "#/components/responses/BadRequestError"
                default:
                    $ref: "#/components/responses/DefaultError"
    classifieds:
        post:
            tags:
                - Classified
            parameters:
                - name: User-Agent
                  in: header
                  required: true
                  description: Identifies the request as an Immoteur webhook call.
                  schema:
                      type: string
                  example: ImmoteurWebhook/1
                - name: X-Immoteur-Service-Id
                  in: header
                  required: true
                  description: UUID of the Immoteur service emitting this webhook.
                  schema:
                      type: string
                      format: uuid
                  example: 2f9b734d-9c22-46a0-8f20-0d1a2b3c4d5e
                - name: X-Immoteur-Event-Id
                  in: header
                  required: true
                  description: Correlation ID for the webhook payload.
                  schema:
                      type: string
                      format: uuid
                  example: 11111111-2222-3333-4444-555555555555
                - name: X-Immoteur-Delivery-Id
                  in: header
                  required: true
                  description: Unique identifier for this HTTP delivery attempt.
                  schema:
                      type: string
                      format: uuid
                  example: 8f8f0c4e-1bca-48d5-98bb-8ab2c0c0ab12
                - name: X-Immoteur-Timestamp
                  in: header
                  required: true
                  description: Unix timestamp (seconds) for the delivery attempt.
                  schema:
                      type: string
                      pattern: "^[0-9]+$"
                  example: "1734278400"
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/ClassifiedsExport"
                        example:
                            exportId: 2f9b734d-9c22-46a0-8f20-0d1a2b3c4d5e
                            items:
                                - id: 7f6e3b4d-9c22-46a0-8f20-0d1a2b3c4d5e
                                  propertyId: 01920347-45c7-7b81-a2e4-d28c43f0d123
                                  type: created
                                  currency: euro
                                  squareUnit: squareMeter
                                  status:
                                      current: available
                                  meta:
                                      firstSeenAt: "2025-09-15T08:10:00Z"
                                      lastModifiedAt: "2025-09-15T09:00:00Z"
                                      lastSeenAt: "2025-09-15T09:00:00Z"
                                      removedAt: null
                                  source:
                                      domain: seloger.com
                                      url: https://www.seloger.com/annonces/achat/appartement/paris-1er-75/5-pieces/0.htm
                                  publisher:
                                      isProfessional: true
                                      type: agency
                                      id: 2c2a42a0-1a9b-4b18-9f1d-1f9b2a3c4d5e
                                      email: contact@agence-paris.fr
                                      phone: "+33123456789"
                                      feesUrl: https://www.agence-paris.fr/honoraires
                                      siren: "123456789"
                                      siret: "12345678900011"
                                  location:
                                      city:
                                          name: Paris
                                          inseeCode: "75056"
                                      country: france
                                      department: "75"
                                      postcode: "75001"
                                      latitude: 48.8606
                                      longitude: 2.3376
                                  media:
                                      images:
                                          - id: 8f8f0c4e-1bca-48d5-98bb-8ab2c0c0ab12
                                            position: 1
                                            url: https://images.immoteur.com/sample/apt-paris-1.jpg
                                  property:
                                      type: apartment
                                      area: 50
                                      roomCount: 3
                                      bedroomCount: 2
                                      elevatorExists: true
                                      terraceExists: true
                                  transaction:
                                      type: sale
                                      price:
                                          current: 650000
                                          history:
                                              - id: 4d4744d6-d7f1-4f8b-8c3c-fb8a1e3c0f8a
                                                value: 650000
                                                timestamp: "2025-09-15T09:00:00Z"
                                          initial: 650000
                                          perSquareUnit: 13000
                                  energy:
                                      dpe:
                                          date: "2023-05-10"
                                          label: d
                                          value: 180
                                      ges:
                                          date: "2023-05-10"
                                          label: e
                                          value: 45
                                      heating:
                                          source: gas
                                          system: radiator
                                          type: individual
            responses:
                "200":
                    description: Webhook received successfully
                "400":
                    $ref: "#/components/responses/BadRequestError"
                default:
                    $ref: "#/components/responses/DefaultError"
    property-notification:
        post:
            tags:
                - Property
            parameters:
                - name: User-Agent
                  in: header
                  required: true
                  description: Identifies the request as an Immoteur webhook call.
                  schema:
                      type: string
                  example: ImmoteurWebhook/1
                - name: X-Immoteur-Service-Id
                  in: header
                  required: true
                  description: UUID of the Immoteur service emitting this webhook.
                  schema:
                      type: string
                      format: uuid
                  example: 2f9b734d-9c22-46a0-8f20-0d1a2b3c4d5e
                - name: X-Immoteur-Event-Id
                  in: header
                  required: true
                  description: Correlation ID for the webhook payload.
                  schema:
                      type: string
                      format: uuid
                  example: 11111111-2222-3333-4444-555555555555
                - name: X-Immoteur-Delivery-Id
                  in: header
                  required: true
                  description: Unique identifier for this HTTP delivery attempt.
                  schema:
                      type: string
                      format: uuid
                  example: 8f8f0c4e-1bca-48d5-98bb-8ab2c0c0ab12
                - name: X-Immoteur-Timestamp
                  in: header
                  required: true
                  description: Unix timestamp (seconds) for the delivery attempt.
                  schema:
                      type: string
                      pattern: "^[0-9]+$"
                  example: "1734278400"
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/Property"
                        example:
                            id: 11111111-2222-3333-4444-555555555555
                            description: Appartement refait à neuf avec vue dégagée.
                            status:
                                current: available
                            classifieds:
                                - id: 7f6e3b4d-9c22-46a0-8f20-0d1a2b3c4d5e
                                  status:
                                      current: available
                                  source:
                                      domain: seloger.com
                                      url: https://www.seloger.com/annonces/achat/appartement/paris-1er-75/5-pieces/0.htm
                                  publisher:
                                      isProfessional: true
                                      type: agency
                                      id: 2c2a42a0-1a9b-4b18-9f1d-1f9b2a3c4d5e
                                      email: contact@agence-paris.fr
                                      phone: "+33123456789"
                                      feesUrl: https://www.agence-paris.fr/honoraires
                                      siren: "123456789"
                                      siret: "12345678900011"
                                  transaction:
                                      current: 720000
                                      history:
                                          - id: 90f10d54-6d61-4b2a-a19c-12d962d9b0af
                                            value: 750000
                                            timestamp: "2025-05-15T10:00:00Z"
                                          - id: 2c1d5c25-9b3e-4f9e-a3db-5b8dd89f8cb3
                                            value: 720000
                                            timestamp: "2025-06-20T11:00:00Z"
                                      initial: 750000
                                      perSquareUnit: 12000
                            location:
                                city:
                                    inseeCode: "75056"
                                    name: Paris
                                country: france
                                department: "75"
                                postcode: "75001"
                                latitude: 48.8606
                                longitude: 2.3376
                            media:
                                images:
                                    - id: 5cd6da5c-6b9b-4d6d-9b35-4d5ecf921111
                                      position: 1
                                      url: https://images.immoteur.com/sample/property-main.jpg
                                    - id: 8fd4b645-d5e1-4c61-8f0a-4f86b3f21555
                                      position: 2
                                      url: https://images.immoteur.com/sample/property-living.jpg
                            meta:
                                firstSeenAt: "2025-05-10T08:00:00Z"
                                lastSeenAt: "2025-06-20T11:00:00Z"
                            property:
                                type: apartment
                                area: 82.5
                                bedroomCount: 3
                                bathroomCount: 2
                                terraceExists: true
                                orientation: south
                            transaction:
                                type: sale
                                price:
                                    current: 720000
                                    history:
                                        - id: 90f10d54-6d61-4b2a-a19c-12d962d9b0af
                                          value: 750000
                                          timestamp: "2025-05-15T10:00:00Z"
                                        - id: 2c1d5c25-9b3e-4f9e-a3db-5b8dd89f8cb3
                                          value: 720000
                                          timestamp: "2025-06-20T11:00:00Z"
                                    initial: 750000
                                    perSquareUnit: 12000
                            energy:
                                dpe:
                                    label: c
                                    value: 125
                                ges:
                                    label: a
                                    value: 12
            responses:
                "200":
                    description: Webhook received successfully
                "400":
                    $ref: "#/components/responses/BadRequestError"
                default:
                    $ref: "#/components/responses/DefaultError"

components:
    schemas:
        Classified:
            type: object
            required:
                - id
                - propertyId
                - currency
                - status
                - meta
                - property
                - source
                - squareUnit
                - publisher
                - transaction
                - location
            properties:
                contact:
                    description: Contact information for the classified.
                    $ref: "#/components/schemas/ClassifiedContact"
                currency:
                    description: Currency of the price.
                    $ref: "#/components/schemas/ClassifiedCurrency"
                description:
                    description: Description of the classified.
                    type: string
                    example: Bel appartement lumineux au cœur de Paris.
                energy:
                    description: Energy information for the classified.
                    $ref: "#/components/schemas/Energy"
                id:
                    description: Unique identifier for the classified.
                    type: string
                    format: uuid
                    example: 7f6e3b4d-9c22-46a0-8f20-0d1a2b3c4d5e
                location:
                    description: Location information for the classified.
                    $ref: "#/components/schemas/Location"
                media:
                    description: Media information for the classified.
                    $ref: "#/components/schemas/Media"
                meta:
                    description: Meta information for the classified.
                    $ref: "#/components/schemas/ClassifiedMeta"
                property:
                    description: Property information for the classified.
                    $ref: "#/components/schemas/PropertyAttributes"
                propertyId:
                    description: Identifier of the property linked to this classified.
                    type: string
                    format: uuid
                    example: 01920347-45c7-7b81-a2e4-d28c43f0d123
                publishedAt:
                    description: Timestamp when the classified was published on its original source.
                    type: string
                    format: date-time
                    nullable: true
                    example: "2025-05-15T08:10:00Z"
                publisher:
                    description: Publisher information for the classified.
                    $ref: "#/components/schemas/ClassifiedPublisher"
                source:
                    description: Source information for the classified.
                    $ref: "#/components/schemas/ClassifiedSource"
                squareUnit:
                    description: Square unit of the price.
                    $ref: "#/components/schemas/ClassifiedSquareUnit"
                status:
                    description: Current lifecycle status of the classified.
                    $ref: "#/components/schemas/ClassifiedStatus"
                title:
                    description: Title of the classified.
                    type: string
                    example: Appartement 3 pièces Paris 1er
                transaction:
                    description: Transaction information for the classified.
                    $ref: "#/components/schemas/Transaction"
        ClassifiedContact:
            type: object
            properties:
                email:
                    description: Email address of the contact.
                    type: string
                    format: email
                    example: proprietaire@example.org
                name:
                    description: Name of the contact.
                    type: string
                    example: Jean Dupont
                phone:
                    description: Phone number of the contact (E.164 recommended).
                    type: string
                    format: phone
                    pattern: '^\+?[1-9]\d{1,14}$'
                    example: "+33612345678"
        ClassifiedCurrency:
            type: string
            enum:
                - euro
        ClassifiedMeta:
            type: object
            required:
                - firstSeenAt
                - lastModifiedAt
                - lastSeenAt
            properties:
                firstSeenAt:
                    description: Timestamp when the classified was first seen.
                    type: string
                    format: date-time
                    example: "2025-09-15T08:10:00Z"
                lastModifiedAt:
                    description: Timestamp when the classified was last modified.
                    type: string
                    format: date-time
                    example: "2025-09-15T09:00:00Z"
                lastSeenAt:
                    description: Timestamp when the classified was last seen.
                    type: string
                    format: date-time
                    example: "2025-09-15T09:00:00Z"
                removedAt:
                    description: Timestamp when the classified was removed.
                    type: string
                    format: date-time
                    nullable: true
                    example: "2025-09-20T12:00:00Z"
        ClassifiedPublisher:
            type: object
            required:
                - isProfessional
            properties:
                email:
                    description: Email address of the publisher (if professional).
                    type: string
                    format: email
                    example: contact@agence-paris.fr
                feesUrl:
                    description: URL to the fee information of the publisher (if professional).
                    type: string
                    format: uri
                    example: https://www.agence-paris.fr/honoraires
                isProfessional:
                    description: Indicates if the publisher is a professional.
[...]
