{
	email {$ACME_EMAIL}
}

{$API_DOMAIN} {
	reverse_proxy api:3000 {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Proto {scheme}
	}
}

{$METABASE_DOMAIN} {
	@missing-dashboard {
		expression `{env.METABASE_PUBLIC_DASHBOARD_UUID} == ""`
	}
	respond @missing-dashboard "Dashboard not configured" 503

	@pass {
		path /api/* /app/* /public/* /static/* /favicon.ico /manifest.json /robots.txt
	}
	reverse_proxy @pass metabase:3000 {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Proto {scheme}
	}

	@redirect {
		not path /api/* /app/* /public/* /static/* /favicon.ico /manifest.json /robots.txt
	}
	redir @redirect /public/dashboard/{env.METABASE_PUBLIC_DASHBOARD_UUID} 302
}
